body {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.08em;
	color: var(--main-black-color);
	background-color: var(--main-background-color);
}

img {
	display: block;
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0px;
	margin-bottom: 0px;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;

	@media (min-width: 480px) {
		max-width: 480px;
	}

	@media (min-width: 768px) {
		max-width: 768px;
	}

	@media (min-width: 1680px) {
		max-width: 1680px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
