@import './utils/variables';

@import './base/common';

@import './components/logo';
@import './components/navigation';
@import './components/main-button';
@import './components/modal';
@import './components/slider';
@import './components/modal-window';

@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/problems';
@import './layout/how-we-do';
@import './layout/program';
@import './layout/benefits';
@import './layout/about';
@import './layout/guarantee';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';