:root {
    // Colors
    --white-color: rgb(255, 255, 255);
    --main-black-color: rgb(17, 21, 24);
    --main-background-color: rgb(185, 185, 185);
    --secondary-background-coloe: rgb(241, 241, 241);
    --accent-color: rgb(255, 107, 9);
    --secondary-text-color: rgb(185, 185, 185);
    --additional-text-color: rgb(61, 61, 61);
}