<section class="about-section">
  <div class="container">
    <div class="teacher__container">
      <div class="teacher__box">
        <h2 class="teacher__title">Teacher</h2>
        <picture>
          <source
            srcset="./images/about/desktop-1x.jpg 1x, ./images/about/desktop-2x.jpg 2x"
            media="min-width 320px"
          />
          <source
            srcset="./images/about/tablet-1x.jpg 1x, ./images/about/tablet-2x.jpg 2x"
            media="min-width 320px"
          />
          <source
            srcset="./images/about/mob-1x.jpg 1x, ./images/about/mob-2x.jpg 2x"
            media="min-width 320px"
          />
          <img src="./images/about/desktop-1x.jpg" alt="Teacher-photo" />
        </picture>
      </div>
      <h3 class="teacher__name">Elena Moreva</h3>
      <div class="teacher-advantages__container">
        <p class="teacher__advantages">6 yeards of experience in preparing students for UPE</p>
        <p class="teacher__advantages">Own result of passing VNO - 197 points 2 years in a row</p>
        <p class="teacher__advantages">
          Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
          Test)
        </p>
      </div>
      <div class="teacher__desription">
        <p class="teacher-desription__symbol">—</p>
        <p class="teacher-desription__text">
          Graduated from the Institute of International Relations of the NAU with a degree in
          translator-analyst.In spare time takes courses from the best universities in the world on
          effective teaching and essay writing techniques.Completed: English Grammar and Essay
          Writing (Berkeley), English Grammar & Style (The University of Queesland), How to Write an
          Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS
          education), Powerful Tools for Teaching and Learning (University of Houston).
        </p>
      </div>
      <a href="" class="teacher-desription__link">Cambrige English Entry Level Certificate</a>
    </div>
  </div>
</section>
