<!-- Advantages -->
<section class="advanteges__section">
    <div class="advanteges__container container">
        <h2 class="advanteges__title visually-hidden">Advantages</h2>
        <ul class="advanteges__list">
            <li class="advanteges__item">
                <p class="advanteges__text">
                    Adapted author's
                    UPE program
                </p>
            </li>
            <li class="advanteges__item">
                <p class="advanteges__text">
                    Modern
                    teaching methods
                </p>
            </li>
            <li class="advanteges__item">
                <p class="advanteges__text">
                    Financial guarantee
                    the result
                </p>
            </li>
        </ul>
    </div>
</section>