<section class="section">
    <div class="container">
        <h2 class="contacts-title">Registration for a <span class="problems__title-span">free</span> phone <span class="problems__title-span">consultation</span> on the nuances of English UPE</h2>
        <ul class="contacts-list">
            <li><p class="contacts-description">Leave a request for participation in a <span class="problems__title-span">free lesson</span>.</p></li>
            <li><p class="contacts-description">A consultant will contact you and answer your questions</p></li>
        </ul>
            <div class="contacts-form">
            <form>
                <div class="contacts-form__wrapper">
                    <input type="text" name="user-name" class="contacts-form__input" placeholder="Name*" required>
                    <input type="tel" name="user-tel" class="contacts-form__input" placeholder="Phone*" required>
                    <button type="submit" class="contacts-form__submit-button">i want a free lesson</button>
                </div>
            </form>
        </div>
    </div>
</section>