<section class="section" id="contacts">
  <div class="container">
    <h2 class="contacts-title">
      Registration for a <span class="problems__title-span">free</span> phone
      <span class="problems__title-span">consultation</span> on the nuances of English UPE
    </h2>
    <p class="contacts-description">
      Leave a request for participation in a
      <span class="problems__title-span">free lesson</span>.<br />A consultant will contact you and
      answer your questions
    </p>
    <div class="contacts-form">
      <form>
        <div class="contacts-form__wrapper">
          <input
            type="text"
            name="user-name"
            class="contacts-form__input"
            placeholder="Name*"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            required
          />
          <input
            type="tel"
            name="user-tel"
            class="contacts-form__input"
            placeholder="Phone*"
            pattern="\+?[0-9\s\-\(\)]+"
            required
          />
          <button type="submit" class="contacts-form__submit-button">i want a free lesson</button>
        </div>
      </form>
    </div>
  </div>
</section>
