<body>
  <footer class="footer">
    <div class="container">
			<div class="footer-contacts">
						<a href="./index.html" class="logo footer-logo">
							<div class="logo-upper">
								Hell<svg class="logo-icon">
									<use  href="./images/sprite.svg#fire"><use>
								</svg>EN
							</div>
							<p class="logo-under"><span class="under-orange">HELLISH</span> ENGLISH</p>
						</a>
					<a class="footer-phone" href="tel:+38 (000) 000 00 00">+38 (000) 000 00 00</a>
					<button type="button" class="footer-soc">
            <a href="#" class="footer-soc__link">
							<img src="./images/footer/instagram 1.png" alt="inst" class="footer-image">
						</a>
          </button>
			</div>
		</div>
		<div class="footer-rights">
			<p class="footer-rigths__text">@ All rights reserved, 2019</p>
		</div>
  </footer>
</body>
