<footer class="footer">
  <div class="container">
    <div class="footer-contacts">
      <a href="./index.html" class="logo footer-logo">
        <div class="logo-upper">
          Hell
          <svg class="logo-icon">
            <use href="./images/sprite.svg#fire"></use>
          </svg>
          EN
        </div>
        <p class="logo-under"><span class="accent-words">HELLISH</span> ENGLISH</p>
      </a>
      <div class="phone-container">
        <a class="footer-phone" href="tel:+380000000000">
          <svg class="footer-phone__icon">
            <use href="./images/sprite.svg#tel"></use>
          </svg>
          +38 (000) 000 00 00</a
        >
      </div>
      <a href="#" target="_blank" class="footer-soc__link">
        <svg class="inst-icon">
          <use href="./images/footer/inst-svg-wh.svg"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer-rights">
    <div class="container">
      <p class="footer-rigths__text">@ All rights reserved, 2022</p>
    </div>
  </div>
</footer>
