    <header class="header">
      <div class="container">
        <div class="header-container">
          <a href="./index.html" class="logo logo-header">
						<div class="logo-upper">
							Hell<svg class="logo-icon">
							<use href="./images/sprite.svg#fire"><use>
						</svg>EN
						</div>
						<p class="logo-under"><span class="under-orange">HELLISH</span> ENGLISH</p>
					</a>
					<button type="button" class="consultation nav-consultation">Consultation by phone</button>
          <button type="button" class="menu-button" data-menu-open>
            <svg class="icon-menu">
              <use href="./images/sprite.svg#burger-menu"></use>
            </svg>
          </button>

					<div class="menu-container" data-menu>
						<div class="menu-mobile">
							<a href="./index.html" class="logo menu-logo">
								<div class="logo-upper">
									Hell<svg class="logo-icon">
									<use href="./images/sprite.svg#fire"><use>
								</svg>EN
								</div>
								<p class="logo-under"><span class="under-orange">HELLISH</span> ENGLISH</p>
							</a>
		
							<button type="button" class="menu-mobile__button" data-menu-close>
								<svg class="icon-cross">
									<use href="./images/sprite.svg#close-icon"></use>
								</svg>
							</button>
		
							<nav class="header-nav">
								<ul class="nav-list">
									<li class="nav-list__li">
										<a href="#" class="nav-list__item">Studying program</a>
									</li>
									<li class="nav-list__li"><a href="#" class="nav-list__item">About</a></li>
									<li class="nav-list__li">
										<a href="#" class="nav-list__item">Training options</a>
									</li>
									<li class="nav-list__li"><a href="#" class="nav-list__item">Contacts</a></li>
								</ul>
							</nav>
							<button type="button" class="consultation ">Consultation by phone</button>
						</div>
					</div>
        </div>
      </div>
    </header>
