<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header-container">
          <a href="#" class="logo logo-header">
            Hell
            <svg width="14" height="20">
              <use class="logo-icon" href="../images/sprite.svg#fire"></use>
            </svg>
            EN
            <p class="logo-under">HELLISH <span class="under-span">ENGLISH</span></p>
          </a>

          <button type="button" class="menu-button" data-menu-open>
            <svg width="20" height="12">
              <use class="icon-menu" href=""></use>
            </svg>
          </button>

          <div class="menu-container"></div>
        </div>
      </div>
    </header>
  </body>
</html>
