<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header-container">
          <a href="#" class="logo logo-header">
            Hell
            <svg class="logo-icon">
              <use  href="./images/sprite.svg#fire"><use>
            </svg>
            EN
            <p class="logo-under"><span class="under-span">HELLISH</span> ENGLISH</p>
          </a>
					<button type="button" class="consultation nav-consultation">Consultation by phone</button>
          <button type="button" class="menu-button" data-menu-open>
            <svg class="icon-menu">
              <use href="./images/sprite.svg#burger-menu"></use>
            </svg>
          </button>

          <div class="menu-container" data-menu>
            <div class="menu-mobile">
              <a href="#" class="logo menu-logo">
                Hell
                <svg class="logo-icon">
                  <use href="./images/sprite.svg#fire"></use>
                </svg>
                EN
                <p class="logo-under"><span class="under-span">HELLISH</span> ENGLISH</p>
              </a>

              <button type="button" class="menu-mobile__button" data-menu-close>
                <svg class="icon-cross">
                  <use href="./images/sprite.svg#close-icon"></use>
                </svg>
              </button>

              <nav class="header-nav">
                <ul class="nav-list">
                  <li class="nav-list__li">
                    <a href="#" class="nav-list__item">Studying program</a>
                  </li>
                  <li class="nav-list__li"><a href="#" class="nav-list__item">About</a></li>
                  <li class="nav-list__li">
                    <a href="#" class="nav-list__item">Training options</a>
                  </li>
                  <li class="nav-list__li"><a href="#" class="nav-list__item">Contacts</a></li>
                </ul>
              </nav>
              <button type="button" class="consultation ">Consultation by phone</button>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
