<section class="hero">
    <div class="hero-container container">
        <div class="hero-container__item">
        <h1 class="hero-container__tittle">Complex preparation for English UPE</h1>
        <p class="hero-container__text "><span class="hero-container__text gray">It won’t be easy.<br></span>
        But you’re guaranteed to get <br><span class="hero-container__text orange">+25 points</span></p>
        <a href="#contacts" class="hero-container__link">I want a free lesson</a>
    </div>
    <div class="hero-container__photo">
        <picture>
            <source srcset="
                ./images/hero/teacher-desktop.webp    1x,
                ./images/hero/teacher-desktop@2x.webp 2x" media="(min-width: 1680px)" type="image/webp" />
            <source srcset="
                ./images/hero/teacher-desktop.png 1x, 
                ./images/hero/teacher-desktop@2x.png 2x" media="(min-width: 1680px)" />
            <source srcset="
                ./images/hero/teacher-tablet.webp    1x,
                ./images/hero/teacher-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/hero/teacher-tablet.png    1x,
                ./images/hero/teacher-tablet@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="
                ./images/hero/teacher-mobile.webp    1x,
                ./images/hero/teacher-mobile@2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
            <source srcset="
                ./images/hero/teacher-mobile.png    1x,
                ./images/hero/teacher-mobile@2x.png 2x" media="(max-width: 767px)" />
            <img src="./images/hero/teacher-desktop.png" alt="Преподаватель со студентами"
                class="hero-container__photo-img wow animate__backInRight" 
                data-wow-duration="2s"  />
        </picture>
        </div>
    </div>
</section>