<section class="hero">
    <div class="hero__container container">
        <div class="hero__item">
            <h1 class="hero__title">Complex preparation for English UPE</h1>
            <p class="hero__text">
                <span class="hero__text gray">It won’t be easy.<br></span>
                But you’re guaranteed to get <span class="accent-words">+25 points</span>
            </p>
            <a type="button" href="#contacts" class="hero__button">I want a free lesson</a>
        </div>
        <picture>
            <source srcset="
                ./images/hero/teacher-desktop.webp    1x,
                ./images/hero/teacher-desktop@2x.webp 2x" media="(min-width: 1680px)" type="image/webp" />
            <source srcset="
                ./images/hero/teacher-desktop.png 1x, 
                ./images/hero/teacher-desktop@2x.png 2x" media="(min-width: 1680px)" />
            <source srcset="
                ./images/hero/teacher-tablet.webp    1x,
                ./images/hero/teacher-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/hero/teacher-tablet.png    1x,
                ./images/hero/teacher-tablet@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="
                ./images/hero/teacher-mobile.webp    1x,
                ./images/hero/teacher-mobile@2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
            <source srcset="
                ./images/hero/teacher-mobile.png    1x,
                ./images/hero/teacher-mobile@2x.png 2x" media="(max-width: 767px)" />
            <img src="./images/hero/teacher-desktop.png" alt="Teacher with students"
                class="hero__photo wow animate__backInRight" 
                data-wow-duration="2s"  />
        </picture>
    </div>
</section>