<section class="doings">
  <div class="container">
    <h1 class="how-do-we-do">How do we do</h1>
    <ul class="how-do-we-do_list">
      <li class="how-do-we-do_item">
        <a href="" class="how-do-we-do_link">
            <div class="how-do-we-do_div">
          <img />
          <h2 class="how-do-we-do_title">Adapted program preparation for UPE</h2>
            <p class="how-do-we-do-paragraph">You will learn grammar and vocabulary at the same time.
                 And you will learn how to write essays. </p>
        </a>
        </div>
      </li>

    <li class="how-do-we-do_item">
        <a href="" class="how-do-we-do_link">
            <div class="how-do-we-do_div">
          <img />
          <h2 class="how-do-we-do_title">Classroom and online learning</h2>
            <p class="how-do-we-do_paragraph">The teacher will help not only in the classroom, 
                but also during home preparation.Parents can chat if they wish. </p>
        </a>
        </div>
      </li>

     <li class="how-do-we-do_item">
        <a href="" class="how-do-we-do_link">
            <div class="how-do-we-do_div">
          <img />
          <h2 class="how-do-we-do_title">The habit of reading in English</h2>
            <p class="how-do-we-do_paragraph">Articles from sources that are used in the 
                development of this UPE will be received by phone twice a week. </p>
        </a>
        </div>
      </li>

     <li class="how-do-we-do_item">
        <a href="" class="how-do-we-do_link">
            <div class="how-do-we-do_div">
          <img />
          <h2 class="how-do-we-do_title">Psychological support</h2>
            <p class="how-do-we-do_paragraph">We will teach you testing techniques, 
                the ability to plan your confidence training in itself. </p>
        </a>
        </div>
      </li>

    <li class="how-do-we-do_item">
        <a href="" class="how-do-we-do_link">
            <div class="how-do-we-do_div">
          <img />
          <h2 class="how-do-we-do_title">Training on copyright manuals</h2>
            <p class="how-do-we-do_paragraph">You don't have to waste your time on a 
                search for material and to buy anything extra.
                 We have compiled 2 manuals for you. </p>
        </a>
        </div>
      </li>

     <li class="how-do-we-do_item">
        <a href="" class="how-do-we-do_link">
            <div class="how-do-we-do_div">
          <img />
          <h2 class="how-do-we-do_title">Ability to comprehend spoken English</h2>
            <p class="how-do-we-do_paragraph">“F.R.I.E.N.D.S” won't help you.
                You will listen regularly and analyze audio recordings in accordance with the studied vocabulary.</p>
        </a>
        </div>
      </li>
    </ul>
  </div>
</section>
