<div class="menu-mobile" data-menu>
    <div class="menu-mobile__container">
        <a href="./index.html" class="logo menu-mobile__logo">
            <div class="logo-upper">Hell
                <svg class="logo-icon">
                    <use href="./images/sprite.svg#fire"><use>
                </svg>EN
            </div>
            <p class="logo-under"><span class="accent-words">HELLISH</span> ENGLISH</p>
        </a>
        <button type="button" class="menu-mobile__button" data-menu-close>
            <svg class="menu-mobile__icon-cross">
                <use href="./images/sprite.svg#close-icon"></use>
            </svg>
        </button>
        <nav class="menu-mobile__nav">
            <ul class="nav-list">
                <li class="nav-list__item"><a href="#program" class="nav-list__link">Studying program</a></li>
                <li class="nav-list__item"><a href="#about" class="nav-list__link">About</a></li>
                <li class="nav-list__item"><a href="#training" class="nav-list__link">Training options</a></li>
                <li class="nav-list__item"><a href="#contacts" class="nav-list__link">Contacts</a></li>
            </ul>
        </nav>
        <button type="button" class="consultation consultation--mobile">Consultation by phone</button>
    </div>
</div>