<!--OUR PROGRAM-->
<section class="program__section">
  <div class="container">
    <h2 id="program" class="program__title">Our program</h2>
    <ul class="list semester-list">
      <li class="semester-list__item">
        <h3 class="semester-list__name">
          <span class="semester-list__name semester-list__name_font-size">1</span> semester
        </h3>
        <ul class="list skills">
          <div class="skills__wrapper">
            <li class="skills__item">Grammar</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Nouns & Articles</li>
              <li class="theme-list__item">Adjectives & Adverb</li>
            </ul>
          </div>

          <div class="skills__wrapper">
            <li class="skills__item">Vocabulary</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Family & Relations</li>
              <li class="theme-list__item">People & Society</li>
            </ul>
          </div>
        </ul>
      </li>

      <li class="semester-list__item">
        <h3 class="semester-list__name">
          <span class="semester-list__name semester-list__name_font-size">2</span> semester
        </h3>
        <ul class="list skills">
          <div class="skills__wrapper">
            <li class="skills__item">Grammar</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Pronouns</li>
              <li class="theme-list__item">Active Voice</li>
              <li class="theme-list__item">Passive Voice</li>
            </ul>
          </div>

          <div class="skills__wrapper">
            <li class="skills__item">Vocabulary</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Home</li>
              <li class="theme-list__item">School</li>
              <li class="theme-list__item">Work</li>
            </ul>
          </div>
        </ul>
      </li>

      <li class="semester-list__item">
        <h3 class="semester-list__name">
          <span class="semester-list__name semester-list__name_font-size">3</span> semester
        </h3>
        <ul class="list skills">
          <div class="skills__wrapper">
            <li class="skills__item">Grammar</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Modal verbs</li>
              <li class="theme-list__item">Infinitive</li>
              <li class="theme-list__item">Gerund</li>
              <li class="theme-list__item">Participle: 1, 2</li>
            </ul>
          </div>

          <div class="skills__wrapper">
            <li class="skills__item">Vocabulary</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Travel & Tourism</li>
              <li class="theme-list__item">Culture & Free Time</li>
              <li class="theme-list__item">Sport</li>
            </ul>
          </div>

          <div class="skills__wrapper">
            <li class="skills__item">Writing</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Informal Letter</li>
            </ul>
          </div>
        </ul>
      </li>

      <li class="semester-list__item">
        <h3 class="semester-list__name">
          <span class="semester-list__name semester-list__name_font-size">4</span> semester
        </h3>
        <ul class="list skills">
          <div class="skills__wrapper">
            <li class="skills__item">Grammar</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Clauses: Conditional and Wishes</li>
              <li class="theme-list__item">Direct / Reported speech</li>
              <li class="theme-list__item">Preposition</li>
              <li class="theme-list__item">Conjunction</li>
              <li class="theme-list__item">Numeral</li>
            </ul>
          </div>

          <div class="skills__wrapper">
            <li class="skills__item">Vocabulary</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Healthy Living</li>
              <li class="theme-list__item">Nature & Environment</li>
              <li class="theme-list__item">Money</li>
            </ul>
          </div>

          <div class="skills__wrapper">
            <li class="skills__item">Writing</li>
            <ul class="list theme-list">
              <li class="theme-list__item">Formal Letter</li>
            </ul>
          </div>
        </ul>
      </li>

      <li class="semester-list__item">
        <h3 class="semester-list__name">
          <span class="semester-list__name semester-list__name_font-size">5</span> semester
        </h3>
        <ul class="list skills">
          <div class="skills__wrapper">
            <li class="skills__item"><span class="space"> </span></li>
            <ul class="list theme-list">
              <li class="theme-list__item">Revision</li>
              <li class="theme-list__item">Tests</li>
            </ul>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</section>
