<!--OUR PROGRAM-->
<section class="program__section">
    <div class="container">
        <h2 class="program__title">Our program</h2>        
        <ul class="list semester-list">

            <li class="semester-list__item">
                <h3 class="semester-list__name"><span class="semester-list__font-size">1</span> semester</h3>
                <ul class="list skills">

                    <li class="skills__item">
                        <p class="skills__name">Grammar</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Nouns & Articles</li>
                        <li class="theme-list__item">Adjectives & Adverb</li>
                    </ul>
                    </li>

                    <li class="skills__item">
                        <p class="skills__name">Vocabulary</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Family & Relations</li>
                        <li class="theme-list__item">People & Society</li>
                    </ul>
                    </li>
                </ul>
            </li>

            <li class="semester-list__item">
                <h3 class="semester-list__name"><span class="semester-list__font-size">2</span> semester</h3>
                <ul class="list skills">

                    <li class="skills__item">
                        <p class="skills__name">Grammar</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Pronouns</li>
                        <li class="theme-list__item">Active Voice</li>
                        <li class="theme-list__item">Passive Voice</li>
                    </ul>
                    </li>

                    <li class="skills__item">
                        <p class="skills__name">Vocabulary</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Home</li>
                        <li class="theme-list__item">School</li>
                        <li class="theme-list__item">Work</li>
                    </ul>
                    </li>
                </ul>
            </li>

            <li class="semester-list__item">
                <h3 class="semester-list__name"><span class="semester-list__font-size">3</span> semester</h3>
                <ul class="list skills">

                    <li class="skills__item">
                        <p class="skills__name">Grammar</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Modal verbs</li>
                        <li class="theme-list__item">Infinitive</li>
                        <li class="theme-list__item">Gerund</li>
                        <li class="theme-list__item">Participle: 1, 2</li>
                    </ul>
                    </li>

                    <li class="skills__item">
                        <p class="skills__name">Vocabulary</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Travel & Tourism</li>
                        <li class="theme-list__item">Culture & Free Time</li>
                        <li class="theme-list__item">Sport</li>
                    </ul>
                    </li>

                    <li class="skills__item">
                        <p class="skills__name">Writing</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Informal Letter</li>
                    </ul>
                    </li>
                </ul>
            </li>

            <li class="semester-list__item">
                <h3 class="semester-list__name"><span class="semester-list__font-size">4</span> semester</h3>
                <ul class="list skills">

                    <li class="skills__item">
                        <p class="skills__name">Grammar</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Clauses: Conditional and Wishes</li>
                        <li class="theme-list__item">Direct / Reported speech</li>
                        <li class="theme-list__item">Preposition</li>
                        <li class="theme-list__item">Conjunction</li>
                        <li class="theme-list__item">Numeral</li>
                    </ul>
                    </li>

                    <li class="skills__item">
                        <p class="skills__name">Vocabulary</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Healthy Living</li>
                        <li class="theme-list__item">Nature & Environment</li>
                        <li class="theme-list__item">Money</li>
                    </ul>
                    </li>

                    <li class="skills__item">
                        <p class="skills__name">Writing</p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Formal Letter</li>
                    </ul>
                    </li>
                </ul>
            </li>

            <li class="semester-list__item">
                <h3 class="semester-list__name"><span class="semester-list__font-size">5</span> semester</h3>
                <ul class="list skills">

                    <li class="skills__item">
                        <p class="skills__name"><span class="space"> </span></p>

                    <ul class="list theme-list">
                        <li class="theme-list__item">Revision</li>
                        <li class="theme-list__item">Tests</li>
                    </ul>
                    </li>
                </ul>
            </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
