<section class="reviews-section">
    <div class="container reviews__container">
        <h2 class="reviews-section__title">Feedback from graduates</h2>
        <div class="slider-for">
            <div>
                <div class="reviews-section__box">
                    <div>
                        <picture>
                            <source srcset="./images/reviews/cats/1-150.webp 1x, ./images/reviews/cats/1-300.webp 2x"
                                media="(min-width: 768px)" type="image/webp" />
                            
                            <source srcset="./images/reviews/cats/1-150.jpg 1x, ./images/reviews/cats/1-300.jpg 2x"
                                media="(min-width: 768px)"/>

                            <source srcset="./images/reviews/cats/1-90.webp 1x, ./images/reviews/cats/1-180.webp 2x"
                                type="image/webp" />
                    
                            <source srcset="./images/reviews/cats/1-90.jpg 1x, ./images/reviews/cats/1-180.jpg 2x" />
                    
                            <img src="./images/reviews/cats/1-90.jpg" alt="Graduate foto" class="reviews-section__foto reviews-section__foto--circle">
                        </picture>
                        <a href="/" class="reviews__social-link" aria-label="facebook">
                            <svg class="reviews__logo">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <article class="response">
                        <h3 class="response__writer">Tonya Kucherovskaya</h3>
                        <p class="response__education">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="response__text">In a short time with Elena, I mastered grammar and replenished my completely empty
                            vocabulary. From the first lesson I
                            realized that I was on my plate. Elena and I became friends because she was really worried about my success. She
                            became
                            an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
                            I'm
                            student <span class="dots">...&nbsp;</span><span class="cont">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Eos error soluta repellat assumenda reprehenderit numquam quas voluptates. Nemo, odio aut?
                                Quisquam magni molestiae obcaecati illo harum quis labore non voluptate.&nbsp;</span><input
                                class="response__button" type="button" value="Read more"></p>
                    </article>
                </div>
            </div>
            <div>
                <div class="reviews-section__box">
                    <div>
                        <picture>
                            <source srcset="./images/reviews/cats/2-150.webp 1x, ./images/reviews/cats/2-300.webp 2x" media="(min-width: 768px)"
                                type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/2-150.jpg 1x, ./images/reviews/cats/2-300.jpg 2x"
                                media="(min-width: 768px)" />
                        
                            <source srcset="./images/reviews/cats/2-90.webp 1x, ./images/reviews/cats/2-180.webp 2x" type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/2-90.jpg 1x, ./images/reviews/cats/2-180.jpg 2x" />
                        
                            <img src="./images/reviews/cats/2-90.jpg" alt="Graduate foto" class="reviews-section__foto reviews-section__foto--circle">
                        </picture>
                        <a href="/" class="reviews__social-link" aria-label="facebook">
                            <svg class="reviews__logo">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <article class="response">
                        <h3 class="response__writer">Tonya Kucherovskaya</h3>
                        <p class="response__education">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="response__text">In a short time with Elena, I mastered grammar and replenished my completely empty
                            vocabulary. From the first lesson I
                            realized that I was on my plate. Elena and I became friends because she was really worried about my
                            success. She
                            became
                            an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can
                            brag that
                            I'm
                            student <span class="dots">...&nbsp;</span><span class="cont">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Eos error soluta repellat assumenda reprehenderit numquam quas voluptates. Nemo,
                                odio aut?
                                Quisquam magni molestiae obcaecati illo harum quis labore non voluptate.&nbsp;</span><input
                                class="response__button" type="button" value="Read more"></p>
                    </article>
                </div>
            </div>
            <div>
                <div class="reviews-section__box">
                    <div>
                        <picture>
                            <source srcset="./images/reviews/cats/3-150.webp 1x, ./images/reviews/cats/3-300.webp 2x" media="(min-width: 768px)"
                                type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/3-150.jpg 1x, ./images/reviews/cats/3-300.jpg 2x"
                                media="(min-width: 768px)" />
                        
                            <source srcset="./images/reviews/cats/3-90.webp 1x, ./images/reviews/cats/3-180.webp 2x" type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/3-90.jpg 1x, ./images/reviews/cats/3-180.jpg 2x" />
                        
                            <img src="./images/reviews/cats/3-90.jpg" alt="Graduate foto" class="reviews-section__foto reviews-section__foto--circle">
                        </picture>
                        <a href="/" class="reviews__social-link" aria-label="facebook">
                            <svg class="reviews__logo">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <article class="response">
                        <h3 class="response__writer">Tonya Kucherovskaya</h3>
                        <p class="response__education">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="response__text">In a short time with Elena, I mastered grammar and replenished my completely empty
                            vocabulary. From the first lesson I
                            realized that I was on my plate. Elena and I became friends because she was really worried about my
                            success. She
                            became
                            an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can
                            brag that
                            I'm
                            student <span class="dots">...&nbsp;</span><span class="cont">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Eos error soluta repellat assumenda reprehenderit numquam quas voluptates. Nemo,
                                odio aut?
                                Quisquam magni molestiae obcaecati illo harum quis labore non voluptate.&nbsp;</span><input
                                class="response__button" type="button" value="Read more"></p>
                    </article>
                </div>
            </div>
            <div>
                <div class="reviews-section__box">
                    <div>
                        <picture>
                            <source srcset="./images/reviews/cats/4-150.webp 1x, ./images/reviews/cats/4-300.webp 2x" media="(min-width: 768px)"
                                type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/4-150.jpg 1x, ./images/reviews/cats/4-300.jpg 2x"
                                media="(min-width: 768px)" />
                        
                            <source srcset="./images/reviews/cats/4-90.webp 1x, ./images/reviews/cats/4-180.webp 2x" type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/4-90.jpg 1x, ./images/reviews/cats/4-180.jpg 2x" />
                        
                            <img src="./images/reviews/cats/4-90.jpg" alt="Graduate foto" class="reviews-section__foto reviews-section__foto--circle">
                        </picture>
                        <a href="/" class="reviews__social-link" aria-label="facebook">
                            <svg class="reviews__logo">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <article class="response">
                        <h3 class="response__writer">Tonya Kucherovskaya</h3>
                        <p class="response__education">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="response__text">In a short time with Elena, I mastered grammar and replenished my completely empty
                            vocabulary. From the first lesson I
                            realized that I was on my plate. Elena and I became friends because she was really worried about my
                            success. She
                            became
                            an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can
                            brag that
                            I'm
                            student <span class="dots">...&nbsp;</span><span class="cont">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Eos error soluta repellat assumenda reprehenderit numquam quas voluptates. Nemo,
                                odio aut?
                                Quisquam magni molestiae obcaecati illo harum quis labore non voluptate.&nbsp;</span><input
                                class="response__button" type="button" value="Read more"></p>
                    </article>
                </div>
            </div>
            <div>
                <div class="reviews-section__box">
                    <div>
                        <picture>
                            <source srcset="./images/reviews/cats/5-150.webp 1x, ./images/reviews/cats/5-300.webp 2x" media="(min-width: 768px)"
                                type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/5-150.jpg 1x, ./images/reviews/cats/5-300.jpg 2x"
                                media="(min-width: 768px)" />
                        
                            <source srcset="./images/reviews/cats/5-90.webp 1x, ./images/reviews/cats/5-180.webp 2x" type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/5-90.jpg 1x, ./images/reviews/cats/5-180.jpg 2x" />
                        
                            <img src="./images/reviews/cats/5-90.jpg" alt="Graduate foto" class="reviews-section__foto reviews-section__foto--circle">
                        </picture>
                        <a href="/" class="reviews__social-link" aria-label="facebook">
                            <svg class="reviews__logo">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <article class="response">
                        <h3 class="response__writer">Tonya Kucherovskaya</h3>
                        <p class="response__education">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="response__text">In a short time with Elena, I mastered grammar and replenished my completely empty
                            vocabulary. From the first lesson I
                            realized that I was on my plate. Elena and I became friends because she was really worried about my
                            success. She
                            became
                            an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can
                            brag that
                            I'm
                            student <span class="dots">...&nbsp;</span><span class="cont">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Eos error soluta repellat assumenda reprehenderit numquam quas voluptates. Nemo,
                                odio aut?
                                Quisquam magni molestiae obcaecati illo harum quis labore non voluptate.&nbsp;</span><input
                                class="response__button" type="button" value="Read more"></p>
                    </article>
                </div>
            </div>
            <div>
                <div class="reviews-section__box">
                    <div>
                        <picture>
                            <source srcset="./images/reviews/main-graduate-big.webp 1x, ./images/reviews/main-graduate-big@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp" />
                            
                            <source srcset="./images/reviews/main-graduate-big.jpg 1x, ./images/reviews/main-graduate-big@2x.jpg 2x"
                                media="(min-width: 768px)" />

                            <source
                                srcset="./images/reviews/main-graduate-small.webp 1x, ./images/reviews/main-graduate-small@2x.webp 2x"
                                type="image/webp" />
            
                            <source
                                srcset="./images/reviews/main-graduate-small.jpg 1x, ./images/reviews/main-graduate-small@2x.jpg 2x" />
            
                            <img src="./images/reviews/main-graduate-small.jpg" alt="Graduate foto" class="reviews-section__foto">
                        </picture>
                        <a href="/" class="reviews__social-link" aria-label="facebook">
                            <svg class="reviews__logo">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <article class="response">
                        <h3 class="response__writer">Tonya Kucherovskaya</h3>
                        <p class="response__education">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="response__text">In a short time with Elena, I mastered grammar and replenished my completely empty
                            vocabulary. From the first lesson I
                            realized that I was on my plate. Elena and I became friends because she was really worried about my
                            success. She
                            became
                            an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can
                            brag that
                            I'm
                            student <span class="dots">...&nbsp;</span><span class="cont">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Eos error soluta repellat assumenda reprehenderit numquam quas voluptates. Nemo,
                                odio aut?
                                Quisquam magni molestiae obcaecati illo harum quis labore non voluptate.&nbsp;</span><input
                                class="response__button" type="button" value="Read more"></p>
                    </article>
                </div>
            </div>
            <div>
                <div class="reviews-section__box">
                    <div>
                        <picture>
                            <source srcset="./images/reviews/cats/6-150.webp 1x, ./images/reviews/cats/6-300.webp 2x" media="(min-width: 768px)"
                                type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/6-150.jpg 1x, ./images/reviews/cats/6-300.jpg 2x"
                                media="(min-width: 768px)" />
                        
                            <source srcset="./images/reviews/cats/6-90.webp 1x, ./images/reviews/cats/6-180.webp 2x" type="image/webp" />
                        
                            <source srcset="./images/reviews/cats/6-90.jpg 1x, ./images/reviews/cats/6-180.jpg 2x" />
                        
                            <img src="./images/reviews/cats/6-90.jpg" alt="Graduate foto" class="reviews-section__foto reviews-section__foto--circle">
                        </picture>
                        <a href="/" class="reviews__social-link" aria-label="facebook">
                            <svg class="reviews__logo">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <article class="response">
                        <h3 class="response__writer">Tonya Kucherovskaya</h3>
                        <p class="response__education">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="response__text">In a short time with Elena, I mastered grammar and replenished my completely empty
                            vocabulary. From the first lesson I
                            realized that I was on my plate. Elena and I became friends because she was really worried about my
                            success. She
                            became
                            an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can
                            brag that
                            I'm
                            student <span class="dots">...&nbsp;</span><span class="cont">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Eos error soluta repellat assumenda reprehenderit numquam quas voluptates. Nemo,
                                odio aut?
                                Quisquam magni molestiae obcaecati illo harum quis labore non voluptate.&nbsp;</span><input
                                class="response__button" type="button" value="Read more"></p>
                    </article>
                </div>
            </div>
        </div>
        <div class="slider-box">
            <div class="slider-nav">
                <div>
                    <picture>
                        <source srcset="./images/reviews/graduate1.webp 1x, ./images/reviews/graduate1@2x.webp 2x"
                            type="image/webp" />
            
                        <source srcset="./images/reviews/graduate1.jpg 1x, ./images/reviews/graduate1@2x.jpg 2x" />
            
                        <img class="slider-nav__image" src="./images/reviews/graduate1.jpg" alt="graduate1">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="./images/reviews/graduate2.webp 1x, ./images/reviews/graduate2@2x.webp 2x"
                            type="image/webp" />
            
                        <source srcset="./images/reviews/graduate2.jpg 1x, ./images/reviews/graduate2@2x.jpg 2x" />
            
                        <img class="slider-nav__image" src="./images/reviews/graduate2.jpg" alt="graduate2">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="./images/reviews/graduate3.webp 1x, ./images/reviews/graduate3@2x.webp 2x"
                            type="image/webp" />
            
                        <source srcset="./images/reviews/graduate3.jpg 1x, ./images/reviews/graduate3@2x.jpg 2x" />
            
                        <img class="slider-nav__image" src="./images/reviews/graduate3.jpg" alt="graduate3">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="./images/reviews/graduate4.webp 1x, ./images/reviews/graduate4@2x.webp 2x"
                            type="image/webp" />
            
                        <source srcset="./images/reviews/graduate4.jpg 1x, ./images/reviews/graduate4@2x.jpg 2x" />
            
                        <img class="slider-nav__image" src="./images/reviews/graduate4.jpg" alt="graduate4">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="./images/reviews/graduate5.webp 1x, ./images/reviews/graduate5@2x.webp 2x"
                            type="image/webp" />
            
                        <source srcset="./images/reviews/graduate5.jpg 1x, ./images/reviews/graduate5@2x.jpg 2x" />
            
                        <img class="slider-nav__image" src="./images/reviews/graduate5.jpg" alt="graduate5">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="./images/reviews/graduate6.webp 1x, ./images/reviews/graduate6@2x.webp 2x"
                            type="image/webp" />
            
                        <source srcset="./images/reviews/graduate6.jpg 1x, ./images/reviews/graduate6@2x.jpg 2x" />
            
                        <img class="slider-nav__image" src="./images/reviews/graduate6.jpg" alt="graduate6">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="./images/reviews/graduate7.webp 1x, ./images/reviews/graduate7@2x.webp 2x"
                            type="image/webp" />
            
                        <source srcset="./images/reviews/graduate7.jpg 1x, ./images/reviews/graduate7@2x.jpg 2x" />
            
                        <img class="slider-nav__image" src="./images/reviews/graduate7.jpg" alt="graduate7">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>