.logo {
	color: var(--main-black-color);
	padding: 20px 0px;
	font-size: 18px;
}

.logo-header {
	margin-right: auto;
}

.under-span {
	color: var(--accent-color);
}

.logo-under {
	font-size: 5px;
}
