.logo {
	color: var(--main-black-color);
	font-size: 18px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	@media screen and (min-width: 768px) {
		font-size: 26px;
	}
}

.logo-upper {
	display: flex;
	align-items: baseline;
}

.under-span {
	color: var(--accent-color);
}

.logo-under {
	font-size: 5px;
	@media screen and (min-width: 768px) {
		font-size: 8px;
	}
}
