.logo {
	color: var(--main-black-color);
	font-size: 18px;
	font-weight: 800;
	display: inline-flex;
	flex-direction: column;
	align-items: baseline;

	@media screen and (min-width: 768px) {
		font-size: 26px;
	}
}

.logo-upper {
	display: inline-flex;
	align-items: baseline;
}

.logo-under {
	font-weight: 700;
	font-size: 5px;
	@media screen and (min-width: 768px) {
		font-size: 8px;
	}
}

.logo-header {
	padding: 20px 0;

	@media screen and (min-width: 768px) {
		padding: 40px 0;
	}

	@media (min-width: 1680px) {
		padding: 11px 0;
	}
}

.menu-mobile__logo {
	color: var(--white-color);
	margin-bottom: 20px;
	padding: 20px 0;
	
	@media (min-width: 768px) {
		margin-bottom: 60px;
	}
}

.footer-logo {
	display: inline-block;
	@media screen and (max-width: 767px) {
		margin: 0 0;
		margin-bottom: 20px;
	}
	@media screen and (min-width: 768px) {
		margin-right: auto;
	}
	@media screen and (min-width: 1680px) {
		margin-right: 500px;
	}
}

.logo-icon {
	width: 22px;
	height: 30px;

	@media screen and (max-width: 767px) {
		width: 14px;
		height: 20px;
	}
}