.consultation {
	color: var(--accent-color);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	width: 280px;
	height: 50px;
	background-color: rgba(28, 28, 28, 0);
	border: 2px solid var(--accent-color);
	display: block;
	text-align: center;
	transition: backgraund-color var(--animation-duration) var(--animation-timing-function);
		&:hover,
		&:focus {
			color: var(--white-color);
			background-color: var(--accent-color);
		}
}

.consultation--header-tablet {
	display: none;

	@media (min-width: 768px) {
		display: block;
		width: 260px;
		height: 48px;
		margin-left: 296px;
	}
		@media screen and (min-width: 1680px) {
		height: 70px;
		width: 336px;
		font-size: 14px;
		margin-left: 40px;
	}
}

.consultation--mobile {
	width: 100%;

	@media (min-width: 768px) {
		display: none;
	}
}