.body--overflow {
	overflow: hidden;
}

/*----------mobile-menu----------*/

.menu-container {
	&.is-open {
		display: flex;
	}
	transition: opacity var(--animation-duration) var(--animation-timing-function);
	@media (max-width: 1679px) {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		margin: 0 auto;
		width: 100%;
		height: 100vh;
		z-index: 5;
		background: rgba(17, 21, 24, 0.9);
	}
}

.menu-mobile {
	@media (max-width: 1679px) {
		position: relative;
		left: 0;
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
		display: flex;
		flex-direction: column;
		max-width: 768px;
	}
	@media (max-width: 767px) {
		max-width: 480px;
	}
	@media screen and (min-width: 1680px) {
		display: flex;
		align-items: center;
	}
}

.menu-mobile__button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 21px;
	height: 21px;
	padding: 0;
	background-color: rgba(28, 28, 28, 0);
	@media screen and (min-width: 768px) {
		top: 45px;
		right: 15px;
	}
	@media screen and (min-width: 1680px) {
		display: none;
	}
}

.icon-cross {
	stroke: var(--white-color);
	width: 20px;
	height: 20px;
	&:hover {
		stroke: var(--accent-color);
	}
	&:focus {
		stroke: var(--accent-color);
		fill: var(--accent-color);
	}
	transition: stroke var(--animation-duration) var(--animation-timing-function);
}

.icon-menu {
	background-color: transparent;
	width: 21px;
	height: 21px;
	&:hover {
		fill: var(--accent-color);
	}
	&:focus {
		fill: var(--accent-color);
		stroke: var(--accent-color);
	}
	transition: fill var(--animation-duration) var(--animation-timing-function);
}

.logo-icon {
	width: 22px;
	height: 30px;
	@media screen and (max-width: 767px) {
		width: 14px;
		height: 20px;
	}
}
