.body--overflow {
	overflow: hidden;
}

/*----------mobile-menu----------*/

.menu-mobile {
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background: rgba(17, 21, 24, 0.9);
	transform: translateY(-100%);
	transition: opacity var(--animation-duration) var(--animation-timing-function), visibility var(--animation-duration) var(--animation-timing-function), transform var(--animation-duration) var(--animation-timing-function);
	
	&.is-open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transform: translateY(0);
	}

	@media (min-width: 1680px) {
		display: none;
	}
}

.menu-mobile__container {
	position: relative;
	padding: 0 15px;
	margin: 0 auto;

	@media (min-width: 480px) {
		max-width: 480px;
	}

	@media (min-width: 768px) {
		padding-top: 20px;
		max-width: 768px;
	}
}

.menu-mobile__nav {
	display: block;

	@media (min-width: 768px) {
		margin-left: 201px;	
	}	
}

.menu-mobile__button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 21px;
	height: 21px;
	padding: 0;
	background-color: rgba(28, 28, 28, 0);

	@media screen and (min-width: 768px) {
		top: 45px;
		right: 15px;
	}
}

.menu-mobile__icon-cross {
	stroke: var(--white-color);
	width: 20px;
	height: 20px;
	
	&:hover {
		stroke: var(--accent-color);
	}
	
	transition: stroke var(--animation-duration) var(--animation-timing-function);
}