.header-nav {
	display: none;

	@media screen and (min-width: 1680px) {
		display: block;
		margin-left: 616px;
	}
}

.nav-list {
	@media screen and (min-width: 1680px) {
		display: flex;
	}
}

.nav-list__item {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 40px;
	}

	@media (min-width: 768px) {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0px;
		}
	}

	@media (min-width: 1680px) {
		margin-right: 40px;
		margin-bottom: 0;

		&:last-child {
			margin-right: 0;
		}
	}
}

.nav-list__link {
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	color: var(--white-color);
	transition: color var(--animation-duration) var(--animation-timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@media screen and (min-width: 768px) {
		font-size: 26px;
	}

	@media screen and (min-width: 1680px) {
		color: var(--secondary-text-color);
		font-size: 14px;
		padding: 25px 0;
	}
}