.slider-for {
    margin-bottom: 40px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
        padding: 0 65px 0 67px;
    }

    @media (min-width: 1680px) {
        margin-bottom: 100px;
        padding: 0 169px 0 138px;
    }
}

.slick-slider {
    display: flex;
}

.slick-list {
    margin-left: auto;
    margin-right: auto;
}

.slick-track {
    margin: 0 auto;
}

.slider-nav .slick-track {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-width: 1188px;
}

.slider-nav .slick-slide {
    max-width: 86px;
}

.slider-nav__image{
    background-color: transparent;

    .slick-current & {
        background-color: transparent;
        border: 2px solid var(--accent-color);
        border-radius: 50%;
    }
}

.slick-prev, .slick-next {
    font-size: 0;
    border: none;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
    
    @media (min-width: 768px) {
        position: absolute;
        top: -180px;
    }

    @media (min-width: 1680px) {
        top: -250px;
    }
}

.slick-prev {
    @media (min-width: 768px) {
            left: 15px
        }

    @media (min-width: 1680px) {
        left: 0px
    }
}

.slick-next {
    @media (min-width: 768px) {
            right: 15px;
        }

    @media (min-width: 1680px) {
        right: 0;
    }
}

.slick-prev::before {
    content: '';
    display: block;
    width: 25px;
    height: 16px;
    margin: 0 auto;
    background-image: url(../images/reviews/Arrow-left.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.slick-next::before {
    content: '';
    display: block;
    width: 25px;
    height: 16px;
    margin: 0 auto;
    background-image: url(../images/reviews/Arrow-right.svg);
    background-position: 50% 50%;
    background-size: inherit;
    background-repeat: no-repeat;
}