.about-section{
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: var(--white-color);
    @media screen and (min-width:768px) {
        padding-top: 40px;
     }
}

.about__container{
    @media screen and (min-width:480px) {
        max-width: 480px; 
     }
    @media screen and (min-width:768px) {
       max-width: 768px;
    }
}

.teacher__container{
    @media screen and (min-width:768px) {
    display: flex;
    align-items: flex-start;     
}
}

.teacher__title{
margin-bottom: 20px;
font-weight: 800;
font-size: 20px;
line-height: 1.3;
letter-spacing: 0.03em;
color: var(--main-black-color);
@media screen and (min-width:768px) {
    margin-bottom: 40px; 
    font-size: 26px;
 }
 @media screen and (min-width:1680px) {
    margin-bottom: 80px; 
    font-size: 46px;
 }
}

.teacher__box{
    margin-bottom: 20px;
    @media screen and (min-width:768px) {
    margin-bottom: 0px;
     } 
}

.teacher__image{
    @media screen and (min-width:768px) {
    min-width: 242px;  
    height: 306px; 
 } 
 @media screen and (min-width:1680px) {
    width: 528px;  
    height: auto; 
 } 
}

.teacher__description-box{
    @media screen and (min-width:768px) {
        margin-left: 60px;
        margin-top: 40px;
    }
    @media screen and (min-width:1680px) {
        margin-left: 172px;
        margin-top: 80px;
    }
}

.teacher__name{
margin-bottom: 8px;
font-weight: 800;
font-size: 20px;
line-height: 1.2;
color: var(--main-black-color);
}

.teacher-advantages__container{
    margin-bottom: 15px;
    padding-top: 20px;
    border-top: 1px solid var(--secondary-text-color);
}

.teacher-advantages__item{
    display: flex;
    align-items: center;
&:before{
    display: inline-flex;
    content: " ";
    min-width: 17px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 9px;
    background-image: url("../images/about/Vector.svg");
}
}

.teacher-advantages__item{
font-weight: 600;
line-height: 1.2;
letter-spacing: 0.06em;
color: #111518;
}

.teacher-advantages__item + .teacher-advantages__item{
&:not(:first-child){
    margin-top: 7px;
}
@media screen and (min-width:768px) {
    &:not(:first-child){
        margin-top: 40px;
    } 
 }
}

.teacher-desription__symbol{
font-size: 20px;
line-height: 1.65;
color: var(--accent-color);
}

.teacher-desription__text{
margin-bottom: 8px;
font-weight: 500;
font-size: 12px;
line-height: 1.6;
color: var(--secondary-text-color);
}

.teacher-desription__link{
font-weight: 500;
font-size: 12px;
line-height: 1.6;
text-decoration-line: underline;
color: var(--accent-color);
}

