.about-section{
    padding-bottom: 40px;
    background-color: var(--white-color);
}

.about__container{
    @media screen and (min-width:480px) {
        max-width: 480px; 
     }
    @media screen and (min-width:768px) {
       max-width: 768px; 
    }
}

.teacher__title{
margin-bottom: 20px;
font-weight: 800;
font-size: 20px;
line-height: 1.3;
letter-spacing: 0.03em;
color: var(--main-black-color);
}

.teacher__box{
    margin-bottom: 20px;
}

.teacher__description-box{
    @media screen and (min-width:768px) {
        margin-left: 60px;
    }
    @media screen and (min-width:1680px) {
        margin-left: 172px;
    }
}

.teacher__name{
margin-bottom: 8px;
font-weight: 800;
font-size: 20px;
line-height: 1.2;
color: var(--main-black-color);
}

.teacher-advantages__container{
    margin-bottom: 15px;
    padding-top: 20px;
    border-top: 1px solid var(--secondary-text-color);
}

.teacher__advantages{
&:before{
    display: inline-flex;
    content: " ";
    width: 17px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 9px;
    background-image: url("../images/about/Vector.svg");
}
}

.teacher__advantages{
font-weight: 600;
line-height: 1.2;
letter-spacing: 0.06em;
color: #111518;
}

.teacher__advantages + .teacher__advantages{
&:not(:first-child){
    margin-top: 7px;
}
}

.teacher-desription__symbol{
font-size: 20px;
line-height: 1.65;
color: var(--accent-color);
}

.teacher-desription__text{
margin-bottom: 8px;
font-weight: 500;
font-size: 12px;
line-height: 1.6;
color: var(--secondary-text-color);
}

.teacher-desription__link{
font-weight: 500;
font-size: 12px;
line-height: 1.6;
text-decoration-line: underline;
color: var(--accent-color);
}

