.about-section{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}

.about__title{
margin-bottom: 20px;
font-weight: 800;
font-size: 20px;
line-height: 1.3;
letter-spacing: 0.03em;
color: rgb(17, 21, 24);
}

.teacher__title{
margin-bottom: 8px;
font-weight: 800;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.08em;
color: #111518;
}

.teacher-advantages__container{
    padding-top: 20px;
    border-top: 1px solid #B9B9B9;
    border-top-width: 100%;
}

.teacher__advantages{
&:before{
    display: inline-flex;
    content: " ";
    width: 30px;
    height: 30px;
    background-size: contain;
}
}

.teacher__advantages{
    // &:before{
    //     margin-right: 9px;
    //     background-image: url("/src/images/about/Vector.svg");
    // }
font-weight: 600;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.06em;
color: #111518;
}

.teacher__advantages + .teacher__advantages{
&:not(:first-child){
    margin-top: 7px;
}
}


.teacher-desription__text{
margin-bottom: 8px;
font-weight: 500;
font-size: 12px;
line-height: 1.6;
color: #B9B9B9;
}

.teacher__link{
font-weight: 500;
font-size: 12px;
line-height: 1.6;
text-decoration-line: underline;
color: #FF6B09;
}