.section {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--main-black-color);
    background-image: url("../images/contacts/contacts-bg-mob.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section {
        background-image: url(../images/contacts/contacts-bg-mob@2x.png);
    }
}

.contacts-title {
    width: 100%;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.30;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.contacts-description {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--white-color);
}

.contacts-form__wrapper {
    margin-left: auto;
    margin-right: auto;
}

.contacts-form__input {
    display: block;
    width: 100%;
    height: 48px;
    padding-left: 28px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--white-color);
    outline: none;

    &:nth-child(1) {
        margin-bottom: 20px;
    }

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
    color: var(--white-color);
    }
}

.contacts-form__submit-button {
    display: block;
    width: 100%;
    height: 48px;
    padding: 26px auto;
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--accent-color);
}

@media screen and (min-width: 480px) {
    .contacts-title {
        width: 450px;
    }

    .contacts-description {
        width: 450px;
    }

    .contacts-form__wrapper {
        width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .section {
        background-image: url(../images/contacts/contacts-bg-tab.png);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .section {
            background-image: url(../images/contacts/contacts-bg-tab@2x.png);
        }
    }

    .contacts-title {
        width: 688px;
        font-size: 26px;
        margin-bottom: 40px;
    }

    .contacts-description {
        margin-bottom: 24px;
        width: 452px;
        font-size: 14px;
        line-height: 1.21;
    }

    .contacts-form__wrapper {
        width: 336px;
        margin-bottom: 32px;
    }

    .contacts-form__input {
        padding-left: 24px;
    }

    .contacts-form__submit-button {
        margin-top: 32px;
    }
}

@media screen and (min-width: 1680px) {
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
        background-image: url(../images/contacts/contacts-bg-pc.png);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .section {
            background-image: url(../images/contacts/contacts-bg-pc@2x.png);
        }
    }

    .contacts-title {
        width: 1090px;
        font-size: 46px;
    }

    .contacts-description {
        margin-bottom: 60px;
        width: 1190px;
        font-size: 30px;
        line-height: 1.23;
    }

    .contacts-form__wrapper {
        width: 528px;
    }

    .contacts-form__input {
        height: 70px;
        font-size: 20px;
        line-height: 1.20;

        &:nth-child(1) {
            margin-bottom: 32px;
        }

        &::placeholder {
            font-size: 20px;
            line-height: 1.20;
        }
    }

    .contacts-form__submit-button {
        height: 70px;
        margin-top: 40px;
        padding: 14px auto;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.14em;
    }
}