.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #111518;
    // background-image: url("./src/images/contacts/contacts-bg-pc.png");
}

.container {
    width: 1680px;
    padding-left: 15px;
    padding-right: 15px;
}

.contacts-title {
    width: 1090px;
    font-weight: 800;
    font-size: 46px;
    line-height: 1.30;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.contacts-list {
    margin-bottom: 60px;
}

.contacts-description {
    width: 1190px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.contacts-form__wrapper {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
}

.contacts-form__input {
    display: block;
    width: 100%;
    height: 70px;
    padding-left: 24px;
    background-color: transparent;
    border: 1px solid #FFFFFF;

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    &::placeholder {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    }
}

.contacts-form__submit-button {
    display: block;
    padding: 26px auto;
    width: 528px;
    height: 80px;
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF6B09;;
}