.guarantees-section{
    padding-bottom: 40px;
    background-color: #F1F1F1;
}

.guarantees__title{
margin-bottom: 40px;
font-weight: 800;
font-size: 26px;
line-height: 1.3;
text-align: center;
letter-spacing: 0.03em;
color: #111518;
}

.guarantees-container{
    padding-top: 40px;
    padding-bottom: 40px;
}

.guarantees-list__item{
padding-left: 7px;
font-weight: 500;
font-size: 12px;
line-height: 1.6;
color: #3D3D3D;
&:before{
    display: inline-flex;
    content: " ";
    width: 17px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
}
&:not(:last-child){
    border-left: 1px dashed #B9B9B9;
}
}

.guarantees-list__item{
    &:before{
        margin-right: 9px;
        background-image: url("../images/guarantees/Fire.svg");
    }
}


.guarantees-list__item + .guarantees-list__item{
    &:not(:first-child){
        margin-top: 20px;
    }
    }

    .symbol,
    .result-symbol{
        color: #FF6B09;
        }