.header {
	background-color: var(--white-color);
	position: relative;

	@media (min-width: 1680px) {
		padding-top: 40px;
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.menu-button {
	padding: 0;
	background: var(--white-color);
	width: 21px;
	height: 21px;

	@media (min-width: 768px) {
		margin-left: 40px;
	}
	
	@media screen and (min-width: 1680px) {
		display: none;
	}
}

.icon-menu {
	background-color: transparent;
	width: 21px;
	height: 21px;

	&:hover {
		fill: var(--accent-color);
	}
	.menu-button:focus & {
		fill: var(--accent-color);
	}
	transition: fill var(--animation-duration) var(--animation-timing-function);
}