.header {
	background-color: var(--white-color);
}

.header-container {
	display: flex;
}

.menu-button {
	background: var(--white-color);
	@media screen and (min-width: 1680px) {
		display: none;
	}
}

.header-nav {
	@media (max-width: 1679px) {
		text-align: center;
	}
	@media (max-width: 767px) {
		margin-bottom: 40px;
	}
}

.nav-list {
	@media screen and (min-width: 1680px) {
		display: flex;
	}
}

.nav-list__li {
	&:not(:last-child) {
		margin-bottom: 15px;
		@media screen and (min-width: 1680px) {
			margin-bottom: 0;
		}
	}
}

.nav-list__item {
	display: block;
	font-size: 20px;
	color: var(--white-color);
	transition: color, 250ms linear;
	&:hover,
	:focus {
		color: var(--accent-color);
	}
	@media screen and (min-width: 768px) {
		font-size: 26px;
	}
	@media screen and (min-width: 1680px) {
		color: var(--secondary-text-color);
		font-size: 14px;
	}
}

.consultation {
	margin: 0 auto;
	color: var(--accent-color);
	text-transform: uppercase;
	font-size: 12px;
	width: 280px;
	height: 50px;
	background-color: rgba(28, 28, 28, 0);
	border: 2px solid var(--accent-color);
	display: block;
	text-align: center;
	transition: background-color, 250ms linear;
	&:hover,
	:focus {
		color: var(--white-color);
		background-color: var(--accent-color);
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}

/*----------mobile-menu----------*/

.menu-container {
	&.is-open {
		display: flex;
	}
	transition: opacity 500ms linear;
	@media (max-width: 1679px) {
		display: none;
		position: fixed;
		left: 0;
		margin: 0 auto;
		width: 100%;
		height: 100vh;
		z-index: 5;
		background: rgba(17, 21, 24, 0.9);
	}
}

.menu-mobile {
	@media (max-width: 1679px) {
		position: relative;
		left: 0;
		margin: 0 auto;
		padding: 0 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		max-width: 768px;
	}
	@media (max-width: 767px) {
		max-width: 480px;
	}
}

.menu-logo {
	color: var(--white-color);
	margin-bottom: 20px;
	@media (max-width: 1679px) {
		margin-bottom: 80px;
	}
	@media screen and (min-width: 1680px) {
		display: none;
	}
}

.menu-mobile__button {
	position: absolute;
	top: 20px;
	right: 20px;
	@media screen and (min-width: 1680px) {
		display: none;
	}
}
