.header {
	background-color: var(--white-color);
}

.header-container {
	display: flex;
}

.menu-button {
	background: var(--white-color);
}

/*----------mobile-menu----------*/

.menu-container {
	position: fixed;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	z-index: 5;
	display: none;
	background: rgba(17, 21, 24, 0.9);
	&.is-open {
		display: flex;
	}
	transition: opacity 500ms linear;
}

.menu-mobile {
	position: relative;
	left: 0;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	display: flex;
}

.menu-mobile__button {
	position: absolute;
	top: 20px;
	right: 20px;
}
