.header {
	background-color: var(--white-color);
	position: relative;
}

.header-container {
	display: flex;
	align-items: center;
	@media screen and (min-width: 1680px) {
		align-items: center;
	}
}

.menu-button {
	background: var(--white-color);
	@media screen and (min-width: 1680px) {
		display: none;
	}
}

.header-nav {
	@media (min-width: 768px) and (max-width: 1679px) {
		display: block;
		margin: 0 auto;
	}
	@media (max-width: 767px) {
		margin-bottom: 40px;
	}
	@media screen and (min-width: 1680px) {
		margin-right: 40px;
	}
}

.nav-list {
	@media screen and (min-width: 1680px) {
		display: flex;
	}
}

.nav-list__li {
	&:not(:last-child) {
		margin-bottom: 15px;
		@media screen and (min-width: 1680px) {
			margin-bottom: 0;
			margin-right: 40px;
		}
	}
}

.nav-list__item {
	display: block;
	font-weight: 700;
	font-size: 20px;
	color: var(--white-color);
	transition: color, 250ms linear;
	&:hover {
		color: var(--accent-color);
	}
	&:focus {
		color: var(--accent-color);
	}
	@media screen and (min-width: 768px) {
		font-size: 26px;
	}
	@media screen and (min-width: 1680px) {
		color: var(--secondary-text-color);
		font-size: 14px;
		padding: 20px 0;
	}
}

.consultation {
	margin: 0 auto;
	color: var(--accent-color);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	width: 280px;
	height: 50px;
	background-color: rgba(28, 28, 28, 0);
	border: 2px solid var(--accent-color);
	display: block;
	text-align: center;
	transition: background-color, 250ms linear;
	&:hover {
		color: var(--white-color);
		background-color: var(--accent-color);
	}
	@media screen and (min-width: 768px) and (max-width: 1679px) {
		display: none;
	}
	@media screen and (min-width: 1680px) {
		height: 70px;
		width: 336px;
		font-size: 14px;
	}
	&:focus {
		color: var(--white-color);
		background-color: var(--accent-color);
	}
	@media screen and (min-width: 768px) and (max-width: 1679px) {
		display: none;
	}
	@media screen and (min-width: 1680px) {
		height: 70px;
		width: 336px;
		font-size: 14px;
	}
}

.nav-consultation {
	display: block;
	width: 260px;
	height: 48px;
	margin-right: 40px;
	@media screen and (min-width: 0px) and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: 1680px) {
		display: none;
	}
}
