.header {
	background-color: var(--white-color);
}

.header-container {
	display: flex;
}

.menu-button {
	background: var(--white-color);
}

.header-nav {
	margin-bottom: 40px;
}

.nav-list__li {
	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

.nav-list__item {
	display: block;
	font-size: 20px;
	color: var(--white-color);
	&:hover,
	:focus {
		color: var(--accent-color);
	}
}

.consultation {
	margin: 0 auto;
	color: var(--accent-color);
	text-transform: uppercase;
	font-size: 12px;
	width: 280px;
	height: 50px;
	border: 2px solid var(--accent-color);
}

/*----------mobile-menu----------*/

.menu-container {
	position: fixed;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	z-index: 5;
	display: none;
	background: rgba(17, 21, 24, 0.9);
	&.is-open {
		display: flex;
	}
	transition: opacity 500ms linear;
}

.menu-mobile {
	position: relative;
	left: 0;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.menu-logo {
	color: var(--white-color);
	margin-bottom: 20px;
}

.menu-mobile__button {
	position: absolute;
	top: 20px;
	right: 20px;
}
