//480
.hero {
    background-color: rgb(255, 255, 255);
    background-image: url(../images/hero/background-mobile.jpg);
    box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero__container {
    text-align: center;
}

.hero__title {
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    margin-bottom: 8px;
}

.hero__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: var(--main-black-color);
    margin-bottom: 40px;
    padding-right: 40px;
}

.hero__text.gray {
    color: var(--main-background-color);
}

.hero__button {
    display: inline-block;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    width: 280px;
    height: 48px;
    padding-top: 14px;
    margin-bottom: 40px;
    background-color: var(--accent-color);
}

.hero__photo {
    max-width: none;
    margin: 0 auto;
}

//768
@media screen and (min-width: 768px) and (max-width:1679px) {

    .hero {
        background-image: url(../images/hero/background-tablet.jpg);
        background-position: left bottom;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hero__container {
        text-align: left;
        display: flex;
    }

    .hero__item {
        margin-left: 10px;
    }

    .hero__title {
        font-size: 26px;
    }

    .hero__text{
        margin-bottom: 48px;
        padding-right: 80px;
    }

    .hero__button {
        font-size: 14px;
        line-height: 1.21;
        width: 260px;
        height: 48px;
        padding-top: 15px;
        margin-bottom: 0;
    }

}

//1680

@media screen and (min-width: 1680px) {
    .hero {
        background-image: url(../images/hero/background-desktop.jpg);
        background-position: left bottom;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hero__container {
        display: flex;
        text-align: left;
    }

    .hero__item {
        margin-right: 246px;
    }

    .hero__title {
        font-size: 58px;
        line-height: 1.29;
    }

    .hero__text {
        font-size: 20px;
        line-height: 1.65;
        padding-right: 0;
    }

    .hero__text {
        margin-bottom: 40px;
    }

    .hero__button {
        font-size: 14px;
        line-height: 1.21;
        width: 354px;
        height: 70px;
        padding-top: 25px;
        margin-bottom: 0;
    }
}
    
