<<<<<<< Updated upstream
=======
.doings {
  background: var(--white-color);
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
  }
}

.doings__title {
  margin-bottom: 32px;

  font-weight: 800;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}

.how-do-we-do {
  display: block;
}

.how-do-we-do__item:not(:last-child) {
  padding-bottom: 16px;
}

.how-do-we-do__link {
  text-align: center;
  align-items: center;
}

.how-do-we-do__box {
  margin: auto;
  padding-top: 32px;
  width: 280px;
  height: 280px;
  background-color: var(--white-color);
  box-sizing: border-box;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.how-do-we-do__box:focus,
.how-do-we-do__box:hover {
  background-color: var(--accent-color);
}

.how-do-we-do__svg {
  width: 100%;
  height: 48px;
  fill: var(--accent-color);

  &:focus,
  &:hover {
    fill: var(--white-color);
  }
}

.how-do-we-do__name {
  padding-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.08em;
  color: var(--main-black-color);

  &:hover,
  &:focus {
    color: var(--white-color);
  }
}

.how-do-we-do__name::after {
  padding: 4px 0;
  content: '—';
  color: var(--accent-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 164.9%;
  /* or 33px */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.08em;
}

.how-do-we-do__name:hover:after {
  content: '—';
  opacity: 1;
  color: var(--white-color);
}

.how-do-we-do__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--secondary-text-color);
  text-align: center;
  align-items: flex-end;
  letter-spacing: 0.08em;
}

.how-do-we-do__paragraph:hover,
.how-do-we-do__paragraph:focus {
  color: var(--white-color);
}
>>>>>>> Stashed changes
