.program__section {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 105px;
    background-color: var(--main-black-color);
}

.semester-list {
    position: relative;
    
    &::before {
    content: "";
    display: block;
    position: absolute;
    left: 40.5px;
    top: 10px;
    height: 1350px;
    width: 1px;
    background-color: var(--white-color);
}
}

.program__title {
    margin-bottom: 40px;
    color: var(--white-color);
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: center;
}

.semester-list__name {
    margin-bottom: 15px;
    position: relative;
    color: var(--white-color);
    line-height: 2;
    text-transform: uppercase;

&::before {
    content: "";
    display: block;
    position: absolute;
    left: -33px;
    top: 9px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--accent-color);
}
}

.skills__name {
    position: relative;
    margin-left: 15px;
    margin-bottom: 15px;
    color: var(--accent-color);
    font-size: 12px;
    line-height: 1.649;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: -15px;
        bottom: 10px;
        height: 1px;
        width: 11px;
        background-color: var(--accent-color);
    }
}

.theme-list__item {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;
    opacity: 0.5;
}

.theme-list:not(:last-child) {
    margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
    
    .semester-list__item {
    width: 100%;
    max-width: 320px;  

    &:not(:last-child) {
    margin-bottom: 40px;
    }
}

    .skills__item:not(:last-child) {
    margin-bottom: 15px;
    }

    .semester-list__item:last-child {
    .theme-list {
        padding-top: 20px;
    }
    .skills__name::before {
        bottom: 0px;
    }
}

    .semester-list {
    padding-left: 68px;
}

.semester-list__item:last-child::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: -35px;
    right: -20px;
    height: 137px;
    width: 176px;
    background-image: url("../images/program/program_mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/program/program_mobile@2x.png");
    }
}
}

@media screen and (min-width: 768px) and (max-width: 1679px) {
    .program__section {
    padding-top: 60px;
    padding-bottom: 140px;
    }

    .program__title {
    margin-bottom: 48px;
    font-size: 26px;
    text-align: left;
    }

    .semester-list {
    padding-left: 184px;

    &::before {
        left: 80px;
        height: 770px;
    }
}

.skills {
    display: flex;
}

.theme-list__item {
    width: 160px;
}

.semester-list__item:last-child {
    &::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: -185px;
    right: -33px;
    height: 268px;
    width: 368px;
    background-image: url("../images/program/program_tablet.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/program/program_tablet@2x.png");
    }
}
}

.semester-list__name {
    margin-bottom: 23px;

    &::before {
        left: -110px;
    }
}

.skills__item {

    &:not(:last-child){
    margin-right: 34px;
    margin-bottom: 20px;
    }

    &::before {
        top: 9px;
    }
}

.semester-list__item:last-child {
    .skills__name::before {
        bottom: 7px;
    }
}
}

@media screen and (min-width: 1680px) {
    .program__section {
        padding-top: 80px;
        padding-bottom: 197px;
    }

    .program__title {
        margin-bottom: 140px;
        margin-left: 1px;
        font-size: 46px;
        text-align: left;
    }

    .semester-list {
    display: flex;
    
    &::before {
    content: "";
    left: -22px;
    top: -50px;
    height: 1px;
    width: 1680px;
}
}

    .semester-list {
    padding-left: 156px;
    }


    .theme-list__item {
    font-size: 18px;
    line-height: 1.556;
    }

    .skills__item:not(:last-child) {
    margin-bottom: 30px;
    }

    .semester-list__item {
    width: 240px;

    &:not(:last-child) {
    margin-right: 40px;
    }
    

    &:first-child::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 123px;
    left: -20px;
    height: 510px;
    width: 712px;
    background-image: url("../images/program/program_desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/program/program_desktop@2x.png");
        }
    }
}

    .semester-list__name {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;

    &::before {
    left: -5px;
    top: -57px;
    height: 16px;
    width: 17.14px;
    border-radius: 50%;
    }
}

.semester-list__font-size {
    font-size: 30px;
}

.skills__name {
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 20px;

    &::before {
        width: 17px;
        bottom: 17px;
        }
    }
    
.semester-list__item:last-child {
    .theme-list {
        padding-top: 47px;
    }

    .skills__name::before {
        bottom: -17px; 
    }
}
}

