.reviews-section {
    background-color: var(--white-color);
}

.reviews__container {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.reviews-section__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    margin-bottom: 24px;

    @media (min-width: 768px) {
        font-size: 26px;
        margin-bottom: 80px;
    }  
}

.reviews-section__box {
    @media (min-width: 768px) {
        display: flex;
        padding: 0 28px 40px;
    }
}

.reviews-section__foto {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
        margin-bottom: 20px;
        width: 150px;
        height: 150px;
    }
}

.reviews__social-link {
    display: inline-block;
    line-height: 0;
    margin-bottom: 24px;
}

.reviews__logo {
    width: 30px;
    height: 30px;
    fill: rgb(67, 110, 171);

    .reviews__social-link:hover &,
    .reviews__social-link:focus & {
        fill: var(--accent-color);
    }
}

.response {
    padding: 0 25px;

    @media (min-width: 768px) {
        padding: 0;
        margin-left: 44px;
        text-align: left;
    }
}

.response__writer {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.21;
    color: var(--accent-color);
    margin-bottom: 16px;

    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}

.response__education {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: var(--secondary-text-color);
    margin-bottom: 16px;

    @media (min-width: 768px) {
        margin-bottom: 20px;
    }
}

.response__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: var(--additional-text-color);
}

.response_span {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--accent-color);
    text-decoration: underline;
    cursor: pointer;
}

.cont {
    display: none;
}