.reviews-section {
    background-color: var(--white-color);
}

.reviews__conteiner {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.reviews-section__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    margin-bottom: 24px;
}

.reviews-section__foto {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-bottom: 24px;
}

.reviews__social-link {
    
}

.reviews__logo {
    width: 30px;
    height: 30px;
    fill: rgb(67, 110, 171);
}

.response {

}

.response__writer {

}

.response__education {
    
}

.response__text {

}