.reviews-section {
    background-color: var(--white-color);
}

.reviews__container {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.reviews-section__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    margin-bottom: 24px;
}

.reviews-section__foto {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    margin-bottom: 24px;
}

.reviews__social-link {
    display: inline-block;
    line-height: 0;
    margin-bottom: 24px;
}

.reviews__logo {
    width: 30px;
    height: 30px;
    fill: rgb(67, 110, 171);
}

.response {
    padding: 0 25px;
}

.response__writer {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.21;
    color: var(--accent-color);
    margin-bottom: 16px;
}

.response__education {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.response__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: var(--additional-text-color);
}

.response_span {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--accent-color);
    text-decoration: underline;
    cursor: pointer;
}

.cont {
    display: none;
}